<% content_for :title, 'TIC' %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK9MOcTCLm8iLB5zi6YH7MtVgnNoBc5rw"></script>
<section class='section-cover' id='main'>
	<nav class='navbar navbar-ticnsp navbar-fixed-top'>
		<div class='container'>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ticnsp-collapse-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to (image_tag 'tic_logo_nobg_flat.png', height: 70), '#main', class: 'navbar-brand' %>
		    </div>
		    <div class='collapse navbar-collapse' id='ticnsp-collapse-navbar'>
		    	<%= link_to 'INICIAR SESIÓN', new_user_session_path, class: 'btn btn-ticnsp-navbar-btn navbar-btn navbar-right' %>
		    	<ul class='nav navbar-nav navbar-right'>
		    		<li><%= link_to 'NOSOTROS', '#aboutus' %></li>
		    		<li><%= link_to 'COORDINADORES', '#team' %></li>
		    		<li><%= link_to 'CONTACTO', '#contact' %></li>
		    	</ul>
		    </div>
		</div>
	</nav>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-6'>
				<div class='ticnsp-title'>
					<h1>Talleres Infantiles Católicos</h1>
					<blockquote>
						<p>Enséñale al niño el camino que ha de seguir y se mantendrá en él aun en la vejez</p>
						<footer>Proverbios 22 : 6</footer>
					</blockquote>
					<%= link_to '<span class="fa fa-facebook"></span>'.html_safe, 'https://www.facebook.com/talleresinfantilescatolicos?fref=ts', class: 'btn btn-ticnsp-social', target: '_blank' %>
		      Síguenos en Facebook
				</div>
			</div>
			<div class='col-sm-6' id='particles-js'>
				<% image_tag 'front_export_bordered.png', height: 400 %>
			</div>
		</div>
	</div>
</section>
<% if false %>
<section class='section-mainbanner' id='mainbanner'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 text-center'>
        <%= image_tag 'front_export_bordered.png', height: 400 %>
      </div>
      <div class='col-sm-6'>
		    <h1 class=''>¡Ven a conocer más a <strong>Jesús</strong> divirtiéndote con nosotros!</h1>
        <% if false %>
        <div id='countdown' data-date="2016-02-13 11:00:00"></div>
        <script>
          $('#countdown').TimeCircles({
            "animation": "smooth",
            "bg_width": 0.9,
            "fg_width": 0.023333333333333334,
            "circle_bg_color": "#bdc3c7",
            "time": {
                "Days": {
                    "text": "Días",
                    "color": "#f1c40f",
                    "show": true
                },
                "Hours": {
                    "text": "Horas",
                    "color": "#3498db",
                    "show": true
                },
                "Minutes": {
                    "text": "Minutos",
                    "color": "#2ecc71",
                    "show": true
                },
                "Seconds": {
                    "text": "Segundos",
                    "color": "#e74c3c",
                    "show": true
                }
            }
          });
        </script>
        <% end %>
        <div class='panel panel-body mainbanner-banner'>
          <p class='lead'>
            Inscripciones<br />
            <strong>Sábados</strong> 11:00 a.m.<br />
            Parroquia <strong>Nuestra Señora de la Paz</strong>
          </p>
        </div>
      </div>
    </div>
	</div>
</section>
<% end %>
<section class='section-aboutus' id='aboutus'>
  <div class='container'>
		<div class='row'>
			<div class='col-sm-6 col-md-3 text-center'>
				<%= image_tag "talleres.jpg", class: 'ticnsp-activity-image' %>
				<p class='lead'>Talleres</p>
			</div>
			<div class='col-sm-6 col-md-3 text-center'>
				<%= image_tag "catequesis.jpg", class: 'ticnsp-activity-image' %>
				<p class='lead'>Catequesis</p>
			</div>
      <div class='col-sm-6 col-md-3 text-center'>
				<%= image_tag "retiro.jpg", class: 'ticnsp-activity-image' %>
				<p class='lead'>Retiro</p>
			</div>
      <div class='col-sm-6 col-md-3 text-center'>
				<%= image_tag "dias_de_juego.jpg", class: 'ticnsp-activity-image' %>
				<p class='lead'>Días de juego</p>
			</div>
		</div>
	</div>
</section>
<section class='section-information'>
	<div class='container'>
    <div class='row'>
      <%= image_tag "infoblue.png", height: 500 %>

      <div class='col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-6'>
		    <h1 class=''>¡Ven a conocer más a <strong>Jesús</strong> divirtiéndote con nosotros!</h1>
        <div class='panel panel-body mainbanner-banner'>
          <p class='lead'>
            Inscripciones<br />
            <strong>Sábados</strong> 11:00 a.m.<br />
            Parroquia <strong>Nuestra Señora de la Paz</strong>
          </p>
        </div>
    </div>
  </div>
</section>
<section class='section-team' id='team'>
	<div class='container'>
		<h1 class='ticnsp-section-title'>Conoce a nuestra <strong>comunidad</strong> de coordinadores</h1>
		<% @coordinators.each_slice( 4 ) do |coord_set| %>
			<div class='row'>
				<% coord_set.each do |coord| %>
					<div class='col-md-3 col-sm-6'>
						<div class='ticnsp-team-member'>
							<%= image_tag coord.current_image(150), class: 'ticnsp-team-member-image' %><br />
							<span class='ticnsp-team-member-name'><%= coord.full_name %></span><br />
							<span class='ticnsp-team-member-position'><%= user_type_display coord.usertype %></span>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</section>
<section class='section-contact_v2' id='contact'>
	<div class='container'>
		<div class='row'>
      <%= image_tag "infoyellow.png", height: 500 %>
      <div class='col-xs-12 col-sm-8 col-md-6'>
		    <h1 class='ticnsp-section-title'>Si necesitas información, déjanos tus datos:</h1>
				<%= render 'layouts/partials/alerts' %>
        <%= form_tag leave_message_path, class: 'form-horizontal ticnsp-form', method: :post do %>
          <div class='form-group'>
            <div class='col-sm-12'>
              <%= text_field_tag :name, nil, placeholder: 'Nombre', class: 'form-control ticnsp-form-control', required: true%>
            </div>
          </div>
          <div class='form-group'>
            <div class='col-sm-12'>
              <%= email_field_tag :email, nil, placeholder: 'E - mail', class: 'form-control ticnsp-form-control', required: true%>
            </div>
          </div>
          <div class='form-group'>
            <div class='col-sm-12'>
              <%= text_area_tag :message_text, nil, placeholder: 'Mensaje', class: 'form-control ticnsp-form-control', style: 'resize: none;', required: true%>
            </div>
          </div>
          <div class='form-group'>
            <div class='col-sm-12'>
              <%= submit_tag 'Enviar', class: 'btn btn-ticnsp-form-btn btn-block' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
	</div>
</section>

<section class='section-footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-4'>
				<h2>Contáctanos</h2>
				<table class='table'>
					<tr>
						<td>
							<i class='glyphicon glyphicon-map-marker'></i>
						</td>
						<td>
							Rancho El Retiro #3517, Fracc. Pradera Dorada Ciudad Juárez, Chih. MX 32618
						</td>
					</tr>
					<tr>
						<td>
							<i class='glyphicon glyphicon-earphone'></i>
						</td>
						<td>
							<a href='tel:+52 656 618 2471'>+52 656 618 2471</a>
						</td>
					</tr>
					<tr>
						<td>
							<i class='glyphicon glyphicon-send'></i>
						</td>
						<td>
							<a href='mailto:padres@ticnsp.org' class=''>padres@ticnsp.org</a>
						</td>
					</tr>
				</table>
			</div>
			<div class='col-sm-4'>
				<h2>Conócenos</h2>
				<%= link_to '<span class="fa fa-facebook"></span>'.html_safe, 'https://www.facebook.com/talleresinfantilescatolicos?fref=ts', class: 'btn btn-ticnsp-social', target: '_blank' %>
				<%= link_to '<span class="fa fa-twitter"></span>'.html_safe, 'https://twitter.com/ticnsp', class: 'btn btn-ticnsp-social', target: '_blank' %>

			</div>
			<div class='col-sm-4'>
				<h2>Sitios de interés</h2>
				<div class='list-group'>
					<%= link_to 'Parroquia NSP', 'http://parroquiansp.com', class: 'list-group-item', target: '_blank' %>
					<%= link_to 'Quiero ir a misa', 'http://quieroiramisa.com/', class: 'list-group-item', target: '_blank' %>
				</div>
			</div>
		</div>
	</div>
	<section class='section-map' id='map-location'>
	</section>
	<script>
		// Smooth scroll
		$(document).ready(function() {
			$('a[href=#main], a[href=#aboutus], a[href=#team], a[href=#contact]').bind('click', function(e) {
				var anchor = $(this);
				$('html, body').stop().animate({
					scrollTop: $(anchor.attr('href')).offset().top - 80
				}, 1000);
				e.preventDefault();
			});
			return false;
		});

		// Maps setup
		function initialize() {
			var center = new google.maps.LatLng(31.696608, -106.417541);
			var mapOptions = {
				center: center,
				zoom: 15,
				scrollwheel: false,
				disableDefaultUI: true,
				draggable: false
			};
			var map = new google.maps.Map(document.getElementById("map-location"),mapOptions);

			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(31.696423, -106.417474),
				map: map,
				title: 'Parroquia Nuestra Señora de la Paz'
			});

			var infowindow = new google.maps.InfoWindow({
				content: '<strong>Rancho El Retiro #3517, Fracc. Pradera Dorada</strong><br>Ciudad Juárez, Chih. MX 32618'
			});

			google.maps.event.addDomListener(window, 'resize', function() {
			    map.setCenter(center);
			});

			infowindow.open(map,marker);
		}
		initialize();
	</script>
	<div class='container-fluid footer-footer'>
    <%= Date.today.year %> © Talleres Infantiles Católicos - El plagio es pecado
		<a href='#' class='btn btn-to-top pull-right'><i class='glyphicon glyphicon-menu-up'></i></a>
	</div>
</section>

<script>
particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 90,
      "density": {
        "enable": true,
        "value_area": 700
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.7,
      "random": false,
      "anim": {
        "enable": false,
        "speed": .91,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 5,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false,
        "mode": "repulse"
      },
      "onclick": {
        "enable": false,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
</script>
