<% content_for :title, 'Semestres - TIC' %>
<% content_for :page_title, 'Semestres' %>
<% content_for :page_breadcrumb, "<li>#{ link_to '<span class="fa fa-dashboard"></span> Dashboard'.html_safe, root_path }</li><li>Semestres</li>".html_safe %>

<div class='box box-solid'>
  <div class='box-header with-border'>
    <h3 class='box-title'>Acciones</h3>
  </div>
  <div class='box-body'>
    <%= link_to '<i class="fa fa-plus"></i> Crear'.html_safe, new_semester_path, class: 'btn btn-app' %>
  </div>
</div>

<div class='box box-solid'>
  <div class='box-header'>
    <h3 class='box-title'>Lista de semestres</h3>
  </div>

  <div class='box-body'>
    <table class='table table-hover'>

      <tbody>
        <% @semesters.each do |semester| %>
          <tr>
            <td><%= semester.current? ? '<span class="label label-success">En curso<span>'.html_safe : '' %></td>
            <td>
              <strong><%= semester.name %></strong><br />
              <small class='text-muted'><%= semester.start_date.strftime( "%b %d, %Y" ) %> - <%= semester.end_date.strftime( "%b %d, %Y" ) %></small>
            </td>
            <td>
              <small class='text-muted'>Completo: <%= semester_progress( semester ).round(2) %>%</small<br />
              <div class='progress progress-xs'>
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= semester_progress semester %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= semester_progress semester %>%">
                  <span class="sr-only"><%= semester_progress semester %>% Completo</span>
                </div>
              </div>
            </td>
            <td></td>
            <td><%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_semester_path(semester), class: 'btn btn-default btn-sm' %></td>
            <!-- <td><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
