<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @semester.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @semester.end_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @semester.name %>
</p>

<p>
  <strong>Current:</strong>
  <%= @semester.current %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
