<p id="notice"><%= notice %></p>

<h1>Listing Shepperdings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shepperdings.each do |shepperding| %>
      <tr>
        <td><%= shepperding.name %></td>
        <td><%= shepperding.description %></td>
        <td><%= shepperding.image_id %></td>
        <td><%= link_to 'Show', shepperding %></td>
        <td><%= link_to 'Edit', edit_shepperding_path(shepperding) %></td>
        <td><%= link_to 'Destroy', shepperding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shepperding', new_shepperding_path %>
