<div class='box box-widget' id='<%= dom_id notice %>'>
  <div class='box-header with-border'>
    <div class='user-block'>
      <%= image_tag notice.user.current_image(128), class: 'img-circle', alt: 'User Image' %>
      <span class='username'>
        <%= link_to notice_author( notice.user ), user_path(id: notice.user_id) %>
      </span>
      <span class='description'>Publicado <%= notice.created_at.strftime( '%b %d, %Y %H:%M' ) %></span>
    </div>
    <div class='box-tools'>
      <%= link_to "<i class='fa fa-times'></i>".html_safe, notice, class: 'btn btn-box-tools', method: :delete, 'data-confirm' => "¿Seguro que deseas borrar este aviso?" %>
    </div>
  </div>
  <div class='box-body'>
    <%= notice.text.html_safe %>
  </div>
</div>
