<% content_for :title, 'Avisos - TIC' %>
<% content_for :page_title, 'Detalle de aviso' %>
<% content_for :page_breadcrumb, "<li>#{ link_to 'Avisos', notices_path }</li><li>Detalles de aviso</li>".html_safe %>

<div class='box box-solid'>
	<div class='box-header with-border'>
		<h3 class='box-title'>Acciones</h3>
	</div>
	<div class='box-body'>
		<%= link_to '<i class="fa fa-mail-reply"></i> Atrás'.html_safe, notices_path, class: 'btn btn-app' %>
		<%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_notice_path(@notice), class: 'btn btn-app' %>
	</div>
</div>

<div class='box box-solid'>
	<div class='box-body'>
		<hr>
		<h4 class='text-<%= @notice.notice_type%>'><%= @notice.heading %></h4>
		<span class='text-muted'>Publicado <%= @notice.created_at.strftime(' %b %d, %Y %H:%M') %></span>
		<p><%= @notice.text.html_safe %></p>
		<hr>
	</div>
</div>