<% content_for :title, 'Avisos - TIC' %>
<% content_for :page_title, 'Avisos' %>
<% content_for :page_breadcrumb, "<li>#{ link_to '<i class="fa fa-dashboard"></i>Dashboard'.html_safe, dashboard_path }</li><li>Avisos</li>".html_safe %>

<div class='row'>
	<div class='col-xs-12'>
		<div class='box box-solid'>
			<div class='box-header with-border'>
				<h3 class='box-title'>Acciones</h3>
			</div>
			<div class='box-body'>
				<%= link_to '<i class="fa fa-pencil-square-o"></i> Administrar avisos'.html_safe, notices_path, class: 'btn btn-app' %>
			</div>
		</div>
	</div>
</div>
<br />
<div class='row'>
	<div class='col-xs-12'>
		<div class='box box-solid'>
			<div class='box-body'>
				<hr>
				<%= will_paginate @notices, renderer: BootstrapPagination::Rails %>
				<% @notices.each do |notice| %>
					<h4 class='text-<%= notice.notice_type%>'><%= notice.heading %></h4>
					<span class='text-muted'>Publicado <%= notice.created_at.strftime(' %b %d, %Y %H:%M') %></span><br />
					<p><%= notice.text.html_safe %></p>
					<hr>
				<% end %>
				<%= will_paginate @notices, renderer: BootstrapPagination::Rails %>
			</div>
		</div>
	</div>
</div>