<% content_for :title, 'Ni침os - TIC' %>
<% content_for :page_title, 'Detalle de ni침o' %>
<% content_for :page_breadcrumb, "<li>#{ link_to '<span class="fa fa-dashboard"></span> Dashboard'.html_safe, root_path }</li><li>#{ link_to 'Ni침os', children_path }</li>".html_safe %>

<div class='row'>
  <div class='col-md-4'>
    <div class='box box-solid'>
      <div class='box-header with-border'>
        <h3 class='box-title'>Imagen</h3>
      </div>
      <div class='box-body object-image no-padding'>
        <%= image_tag attachment_url(@child, :image), class: 'img-responsive' %>
      </div>
    </div>
  </div>
  <div class='col-md-8'>
    <div class='box box-solid'>
      <div class='box-header with-border'>
        <h3 class='box-title'>Acciones</h3>
      </div>
      <div class='box-body'>
        <div class='row'>
          <div class='col-lg-4'>
            <%= link_to '<i class="fa fa-mail-reply"></i> Regresar'.html_safe, children_path, class: 'btn btn-app' %>
            <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_child_path(@child), class: 'btn btn-app' %>
          </div>
          <div class='col-lg-8'>
            <br>
            <div class='row'>
              <div class='col-xs-6'>
                <%= render 'children/assign_lecture_form' %>
              </div>
              <div class='col-xs-6'>
                <%= render 'children/assign_workshop_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-6'>
        <div class='box box-solid'>
          <div class='box-header with-border'>
            <h3 class='box-title'>Informaci칩n</h3>
          </div>
          <div class='box-body'>
            <p class='lead'><%= @child.full_name %></p>
            <p>
              <strong>Gender:</strong>
              <%= @child.gender_text %>
            </p>
            <p>
              <strong>Birthdate:</strong>
              <%= @child.birthdate %>
            </p>
            <p>
              <strong>Allergies:</strong>
              <div class='well'><%= @child.allergies %></div>
            </p>
            <p>
              <strong>Notes:</strong>
              <div class='well'><%= @child.notes %></div>
            </p>
          </div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class='box box-solid'>
          <div class='box-header with-border'>
            <h3 class='box-title'>Tutores responsables</h3>
          </div>
          <div class='box-body'>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>