<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @child.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @child.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @child.birthdate %>
</p>

<p>
  <strong>Image:</strong>
  <%= @child.image_id %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @child.allergies %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @child.notes %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
