<%= form_for(@lecture, html: { class: 'form-horizontal' }) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation" class='alert alert-danger'>
      <strong><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</strong>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <hr>
  <div class="form-group">
    <%= f.label 'Nombre', class: 'col-sm-2 control-label' %>
    <div class='col-sm-9'>
      <%= f.text_field :name, class: 'form-control form-control-ticnsp' %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label 'Descripción', class: 'col-sm-2 control-label' %>
    <div class='col-sm-9'>
      <%= f.text_field :description, class: 'form-control form-control-ticnsp' %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label 'Imagen', class: 'col-sm-2 control-label' %>
    <div class='col-sm-9'>
      <span class='file-input'>
        Browse<%= f.attachment_field :image, class: '' %>
      </span>
      <span class="filename"></span>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <div class='col-sm-offset-2 col-sm-2'>
      <%= f.submit 'Guardar', class: 'btn btn-ticnsp' %>
    </div>
  </div>
<% end %>
