<% content_for :title, 'Iscripciones - TIC' %>
<% content_for :page_title, 'Inscripciones' %>
<% content_for :page_breadcrumb, "<li>#{ link_to '<span class="fa fa-dashboard"></span> Dashboard'.html_safe, root_path }</li><li>Inscripciones</li>".html_safe %>

<div class='box box-solid'>
  <div class='box-header with-border'>
    <h3 class='box-title'>Acciones</h3>
  </div>
  <div class='box-body'>
    <%= link_to 'Inscribir', new_child_semester_path, class: 'btn btn-flat btn-default bg-green' %>
    <%= form_tag child_semesters_path, method: :get, class: 'form-inline pull-right' do %>
      <%= select_tag :paid, options_for_select( [['Todos',0],['Pagado',1],['Sin pagar',2]], @paid ), class: 'form-control', onchange: 'this.form.submit();' %>
      <%= select_tag :semester, options_from_collection_for_select( Semester.current_first, 'id', 'name', @semester.id ), class: 'form-control', onchange: 'this.form.submit();' %>
    <% end %>
  </div>
</div>

<div class='box box-solid'>
  <div class='box-header with-border'>
    <h3 class='box-title'>Niños inscritos este semestre</h3>
  </div>
  <div class='box-body'>
    <div class='table-responsive'>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Niño</th>
            <th>Semestre</th>
            <th>Pagado</th>
            <th>Notas</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @child_semesters.each do |child_semester| %>
            <tr>
              <td><%= link_to child_semester.child.full_name, child_semester.child %></td>
              <td><%= child_semester.semester.name %></td>
              <td><%= ( child_semester.paid_at == nil ? ( render 'child_semesters/pay_form', child_semester: child_semester ) : "#{ link_to "<i class='fa fa-times'></i>".html_safe, unpay_child_semester_path( child_semester ), class: 'btn btn-xs btn-warning', method: :put } <strong>$#{ child_semester.paid_amt }</strong> - #{ child_semester.paid_at.strftime( '%b %d, %Y' ) }" ).html_safe %></td>
              <td><%= child_semester.notes %></td>
              <td><% link_to 'Mostrar', child_semester, class: 'btn btn-sm btn-flat btn-default' %></td>
              <td><%= link_to 'Modificar', edit_child_semester_path(child_semester), class: 'btn btn-sm btn-flat btn-default' %></td>
              <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, '#', class: 'btn btn-sm btn-flat btn-danger pull-right', onclick: "sweetDestroy(#{child_semester.id})" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
      function sweetDestroy(n) {
        swal({
          title: "Are you sure?",
          text: "This will stop scrubbing traffic to this IP. Use this option if you are done scrubbing this IP.",
          type: "info",
          showCancelButton: true,
          confirmButtonClass: "btn-info",
          confirmButtonText: "Yes, remove it!",
          closeOnConfirm: false
        },
        function(){
          $.ajax({
            url: '/child_semesters/' + n + '/sweet_destroy',
            method: 'delete',
            success: function (data) {
              if (data.success) {
                // swal("Done!", "Scrubs have been cleared!", "success");
                swal({
                  title: 'Done!',
                  text: 'Scrub has been cleared!',
                  type: 'success'
                }, function () {
                  window.location = '/child_semesters';
                });
              } else {
                swal("Error!", "Could not clear scrubs!", "danger");
              }
            }
          });
        });
      }
</script>
