<p id="notice"><%= notice %></p>

<h1>Listing Visitor Messages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message text</th>
      <th>Read</th>
      <th>Read at</th>
      <th>Replied</th>
      <th>Replied at</th>
      <th>Replied by user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitor_messages.each do |visitor_message| %>
      <tr>
        <td><%= visitor_message.name %></td>
        <td><%= visitor_message.email %></td>
        <td><%= visitor_message.message_text %></td>
        <td><%= visitor_message.read %></td>
        <td><%= visitor_message.read_at %></td>
        <td><%= visitor_message.replied %></td>
        <td><%= visitor_message.replied_at %></td>
        <td><%= visitor_message.replied_by_user_id %></td>
        <td><%= link_to 'Show', visitor_message %></td>
        <td><%= link_to 'Edit', edit_visitor_message_path(visitor_message) %></td>
        <td><%= link_to 'Destroy', visitor_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visitor message', new_visitor_message_path %>
