<% content_for :title, 'Mensajes - TIC' %>
<% content_for :page_title, 'Mensajes de visitas' %>

<div class='box box-primary'>
  <div class='box-header with-border'>
    <h3 class='box-title'>Inbox</h3>
    <div class='box-tools pull-right'>

    </div>
  </div>
  <div class='box-body no-padding'>
    <div class='table-responsive'>
      <table class='table table-hover table-striped'>
        <tbody>
          <% @visitor_messages.each do |visitor_message| %>
            <tr>
              <td><%= 'Read' %></td>
              <td><%= visitor_message.name %></td>
              <td><%= visitor_message.email %></td>
              <td><%= visitor_message.message_text %></td>
              <td><%= visitor_message.created_at %></td>
              <td><%= link_to 'Show', visitor_message %></td>
              <td><%= link_to 'Destroy', visitor_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class='box-footer'>

  </div>
</div>
