<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visitor_message.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visitor_message.email %>
</p>

<p>
  <strong>Message text:</strong>
  <%= @visitor_message.message_text %>
</p>

<p>
  <strong>Read:</strong>
  <%= @visitor_message.read %>
</p>

<p>
  <strong>Read at:</strong>
  <%= @visitor_message.read_at %>
</p>

<p>
  <strong>Replied:</strong>
  <%= @visitor_message.replied %>
</p>

<p>
  <strong>Replied at:</strong>
  <%= @visitor_message.replied_at %>
</p>

<p>
  <strong>Replied by user:</strong>
  <%= @visitor_message.replied_by_user_id %>
</p>

<%= link_to 'Edit', edit_visitor_message_path(@visitor_message) %> |
<%= link_to 'Back', visitor_messages_path %>
