<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div class='alert alert-danger' id="error_explanation">
      <strong><%= pluralize(@user.errors.count, "error") %> prohibited this coordinator from being saved:</strong>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Rango', class: 'control-label col-sm-2' %>
    <div class='col-sm-3'>
      <%= f.select :usertype, options_for_select([['Coordinador','coordinator'],['Coordinador General','general_coordinator']], @user.usertype), {}, { class: 'form-control form-control-ticnsp' } %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label 'Nombre', class: 'control-label col-sm-2' %>
    <div class='col-sm-9'>
      <%= f.text_field :name, class: 'form-control form-control-ticnsp' %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label 'Apellido', class: 'control-label col-sm-2' %>
    <div class='col-sm-9'>
      <%= f.text_field :lastname, class: 'form-control form-control-ticnsp' %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label 'Género', class: 'control-label col-sm-2' %>
    <div class='col-sm-3'>
      <%= f.select :gender, options_for_select([['H','h'],['M','m']], @user.gender), {}, { class: 'form-control form-control-ticnsp' } %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label 'Fecha de nacimiento', class: 'control-label col-sm-2' %>
    <div class='col-sm-3'>
      <%= f.text_field :birthdate, class: 'form-control form-control-ticnsp datepicker' %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label :email, class: 'control-label col-sm-2' %>
    <div class='col-sm-9'>
      <%= f.email_field :email, class: 'form-control form-control-ticnsp' %>
    </div>
  </div>
  <hr>
  <div class='form-group'>
    <%= label_tag 'user[image_source]', 'Usar imagen', class: 'col-sm-2 control-label' %>
    <div class='col-sm-3'>
      <%= select_tag 'user[image_source]', options_for_select([['Gravatar','gravatar'],['Imagen propia','image']], (@user.use_gravatar? ? 'gravatar' : 'image')), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" id='image-form-group'>
    <%= f.label 'Imagen', class: 'col-sm-2 control-label' %>
    <div class='col-sm-9'>
      <span class='file-input'>
        Browse<%= f.attachment_field :image, class: '' %>
      </span>
      <span class="filename"></span>
    </div>
  </div>
  <hr>
  <div class='form-group'>
    <%= f.label 'Teléfonos', class: 'control-label col-sm-2' %>
  </div>
  <%= f.fields_for :phones do |phones_form| %>

    <div class='form-group'>
      <label>
        <%= phones_form.check_box :_destroy %>
        Borrar
      </label>
      <%= phones_form.label :number, class: 'control-label col-sm-3' %>
      <div class='col-sm-3'>
        <%= phones_form.text_field :number, class: 'form-control' %>
      </div>
      <%= phones_form.label :phone_type, class: 'control-label col-sm-1' %>
      <div class='col-sm-3'>
        <%= phones_form.select :phone_type, options_for_select([['Casa','home'],['Móvil','mobile'],['Oficina','office'],['Otro','other']], phones_form.object.phone_type), {}, { class: 'form-control' } %>
      </div>
    </div>
    
  <% end %>
  <hr>
  <div class='form-group'>
    <%= f.label :notes, class: 'control-label col-sm-2' %>
    <div class='col-sm-9'>
      <%= f.text_area :notes, class: 'form-control form-control-ticnsp', style: 'height: 200px; resize: none;' %>
    </div>
  </div>
  <hr>

  <div class="form-group">
    <div class='col-sm-offset-2 col-sm-3'>
      <%= f.submit 'Guardar coordinador', class: 'btn btn-ticnsp btn-flat' %>
    </div>
  </div>
<% end %>
<script>
  $('.datepicker').datepicker({
      format: 'mm/dd/yyyy'
  })

  function imageSelectionHide() {
    if( (/^(gravatar)$/).test( $('#user_image_source').val() ) ) {
      $('#image-form-group').addClass('hide');
    } else {
      $('#image-form-group').removeClass('hide');
    }
  }

  $('#user_image_source').click(function () {
    imageSelectionHide();
  });

  $(function () {
    imageSelectionHide();
  });
</script>
