<% content_for :title, 'Coordinadores - TIC' %>
<% content_for :page_title, 'Detalle de coordinador' %>
<% content_for :page_breadcrumb, "<li>#{ link_to '<span class="fa fa-dashboard"></span> Dashboard'.html_safe, root_path }</li><li>#{ link_to 'Coordinadores', coordinators_users_path }</li><li>Coordinador</li>".html_safe %>

<div class='row'>
  <div class='col-lg-3'>
    <!-- Mainbox -->
    <div class='box box-primary'>
      <div class='box-body'>
        <%= image_tag @user.current_image(128), class: 'profile-user-img img-responsive img-circle' %>
        <h3 class='profile-username text-center'><%= @user.full_name %></h3>
        <p class='text-muted text-center'><%= user_type_display @user.usertype %></p>
        <ul class='list-group list-group-unbordered'>
          <li class='list-group-item'>
            <b>Status</b>
            <span class='pull-right label label-<%= @user.active? ? "success" : "default" %>'><%= @user.active? ? "Activo" : "Inactivo" %></span>
          </li>
        </ul>
        <% if ['admin', 'general_coordinator'].include? current_user.usertype %>
          <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_coordinator_user_path( @user ), class: 'btn btn-default' %>
        <% end %>
        <% if current_user.usertype =~ /admin/ %>
          <%= link_to '<i class="fa fa-times"></i> Eliminar'.html_safe, @user, class: 'btn bg-maroon pull-right', method: :delete, 'data-confirm' => 'Are you sure?' %>
        <% end %>
      </div>
    </div>

    <!-- About box -->
    <div class='box box-primary'>
      <div class='box-header with-border'>
        <h3 class='box-title'>Información</h3>
      </div>
      <div class='box-body'>
        <strong><i class='fa fa-envelope'></i> Correo</strong>
        <p class='text-muted'><%= @user.email %></p>
        <hr>
        <strong><i class='fa fa-calendar'></i> Fecha de nacimiento</strong>
        <p class='text-muted'><%= @user.birthdate %></p>
        <hr>
        <strong><i class='fa fa-phone'></i> Teléfonos</strong>
        <ul>
          <% @user.phones.each do |phone| %>
            <li><span class='text-muted'><%= phone.phone_type_display %>:</span> <a href='tel:<%= phone.number %>'><%= phone.number %></a></li>
          <% end %>
        </ul>
        <hr>
        <strong><i class='fa fa-file-text'></i> Notas</strong>
        <div class='well'><%= @user.notes %></div>
      </div>
    </div>

  </div>
  <div class='col-lg-9'>
    <div class='nav-tabs-custom'>
      <ul class='nav nav-tabs'>
        <li class='active'><a href='#profile-activity' data-toggle='tab'>Actividad</a></li>
        <li><a href='#profile-assignments' data-toggle='tab'>Asignaciones</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane active' id='profile-activity'>
          <%= render 'main_webapp/timeline', notifications: @notifications %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if false %>
<div class='box box-solid'>
  <div class='box-header with-border'>
    <h3 class='box-title'>Acciones</h3>
  </div>
  <div class='box-body'>
    <%= link_to '<i class="fa fa-mail-reply"></i> Regresar'.html_safe, coordinators_users_path, class: 'btn btn-app' %>
    <% if current_user.usertype =~ /admin/%>
    <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_coordinator_user_path(@user), class: 'btn btn-app' %>
    <%= link_to '<i class="fa fa-times"></i> Eliminar'.html_safe, @user, class: 'btn btn-app bg-maroon pull-right', method: :delete, 'data-confirm' => 'Are you sure?' %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <div class="box box-widget widget-user-2">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-<%= @user.active? ? (@user.gender == 'h' ? 'blue' : 'red') : 'gray' %>">
        <div class="widget-user-image">
          <%= image_tag @user.current_image(128), class: 'img-circle' %>
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username"><%= @user.full_name %></h3>
        <h5 class="widget-user-desc"><%= user_type_display @user.usertype %></h5>
      </div>
      <div class='box-body'>
        <br>
        <p>
          <strong>Correo:</strong>
          <%= @user.email %>
        </p>
        <hr>
        <p>
          <strong>Fecha de nacimiento:</strong>
          <%= @user.birthdate %>
        </p>
        <hr>
        <p>
          <strong>Teléfonos</strong>
          <ul>
            <% @user.phones.each do |phone| %>
              <li><%= phone.phone_type_display %>: <a href='tel:<%= phone.number %>'><%= phone.number %></a></li>
            <% end %>
          </ul>
        <p>
          <strong>Notas:</strong>
          <div class='well'><%= @user.notes %></div>
        </p>
      </div>
    </div>
  </div>
  <div class='col-md-6'>

        <div class='box box-solid'>
          <div class='box-header with-border'>
            <h3 class='box-title'>Taller</h3>
          </div>
          <div class='box-body'>
            <%= render 'users/coordinator/assign_workshop_form' %>
          </div>
          <table class='table table-condensed'>
            <tbody>
              <% @user.workshops_have_marked_as(:coordinator_workshop).each do |workshop| %>
                <tr>
                  <td><%= workshop.id %></td>
                  <td><%= link_to workshop.name, workshop %></td>
                  <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, unassign_from_workshop_user_path(workshop_id: workshop.id), class: 'btn btn-xs bg-maroon pull-right', method: :delete %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class='box box-solid'>
          <div class='box-header with-border'>
            <h3 class='box-title'>Catequesis</h3>
          </div>
          <div class='box-body'>
            <%= render 'users/coordinator/assign_lecture_form' %>
          </div>
          <table class='table table-condensed'>
            <tbody>
              <% @user.lectures_have_marked_as(:coordinator_lecture).each do |lecture| %>
                <tr>
                  <td><%= lecture.id %></td>
                  <td><%= link_to lecture.name, lecture %></td>
                  <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, unassign_from_lecture_user_path(lecture_id: lecture.id), class: 'btn btn-xs bg-maroon pull-right', method: :delete %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class='box box-solid'>
          <div class='box-header with-border'>
            <h3 class='box-title'>Acopañamiento</h3>
          </div>
          <div class='box-body'>
            <%= render 'users/coordinator/assign_shepperding_form' %>
          </div>
          <table class='table table-condensed'>
            <tbody>
              <% @user.shepperdings_have_marked_as(:coordinator_shepperding).each do |shepperding| %>
                <tr>
                  <td><%= shepperding.id %></td>
                  <td><%= link_to shepperding.name, shepperding %></td>
                  <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, unassign_from_shepperding_user_path(shepperding_id: shepperding.id), class: 'btn btn-xs bg-maroon pull-right', method: :delete %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class='box box-solid'>
          <div class='box-header with-border'>
            <h3 class='box-title'>Comisión</h3>
          </div>
          <div class='box-body'>
            <%= render 'users/coordinator/assign_commission_form' %>
          </div>
          <table class='table table-condensed'>
            <tbody>
              <% @user.commissions_have_marked_as(:coordinator_commission).each do |commission| %>
                <tr>
                  <td><%= commission.id %></td>
                  <td><%= link_to commission.name, commission %></td>
                  <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, unassign_from_commission_user_path(commission_id: commission.id), class: 'btn btn-xs bg-maroon pull-right', method: :delete %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

  </div>
</div>
<% end %>
