<% content_for :title, 'Tutores - TIC' %>
<% content_for :page_title, 'Detalle de tutor' %>
<% content_for :page_breadcrumb, "<li>#{ link_to '<span class="fa fa-dashboard"></span> Dashboard'.html_safe, root_path }</li><li>#{ link_to 'Tutores', tutors_users_path }</li><li>Tutor</li>".html_safe %>

<div class='row'>
  <div class='col-lg-3'>
    <!-- Mainbox -->
    <div class='box box-primary'>
      <div class='box-body'>
        <%= image_tag @user.current_image(128), class: 'profile-user-img img-responsive img-circle' %>
        <h3 class='profile-username text-center'><%= @user.full_name %></h3>
        <p class='text-muted text-center'><%= user_type_display @user.usertype %></p>
        <ul class='list-group list-group-unbordered'>
          <li class='list-group-item'>
            <b>Status</b>
            <span class='pull-right label label-<%= @user.active? ? "success" : "default" %>'><%= @user.active? ? "Activo" : "Inactivo" %></span>
          </li>
        </ul>
        <% if ['admin', 'general_coordinator'].include? current_user.usertype %>
          <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_tutor_user_path( @user ), class: 'btn btn-default' %>
        <% end %>
        <% if current_user.usertype =~ /admin/ %>
          <%= link_to '<i class="fa fa-times"></i> Eliminar'.html_safe, @user, class: 'btn bg-maroon pull-right', method: :delete, 'data-confirm' => 'Are you sure?' %>
        <% end %>
      </div>
    </div>

    <!-- About box -->
    <div class='box box-primary'>
      <div class='box-header with-border'>
        <h3 class='box-title'>Información</h3>
      </div>
      <div class='box-body'>
        <strong><i class='fa fa-envelope'></i> Correo</strong>
        <p class='text-muted'><%= @user.email %></p>
        <hr>
        <strong><i class='fa fa-calendar'></i> Fecha de nacimiento</strong>
        <p class='text-muted'><%= @user.birthdate %></p>
        <hr>
        <strong><i class='fa fa-phone'></i> Teléfonos</strong>
        <ul>
          <% @user.phones.each do |phone| %>
            <li><span class='text-muted'><%= phone.phone_type_display %>:</span> <a href='tel:<%= phone.number %>'><%= phone.number %></a></li>
          <% end %>
        </ul>
        <hr>
        <strong><i class='fa fa-file-text'></i> Notas</strong>
        <div class='well'><%= @user.notes %></div>
      </div>
    </div>

  </div>
  <div class='col-lg-9'>
    <div class='nav-tabs-custom'>
      <ul class='nav nav-tabs'>
        <li class='active'><a href='#profile-children' data-toggle='tab'>Niños</a></li>
        <li><a href='#profile-activity' data-toggle='tab'>Actividad</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane active' id='profile-children'>
          <div class='row'>
            <div class='col-xs-12'>
              <%= form_tag assign_child_user_path, method: :post, class: 'form-inline pull-left' do %>
                <%= hidden_field_tag :child_id %>
                <fieldset <%= "disabled" unless @user.active %>>
                  <div class='input-group'>
                    <%= text_field_tag :child, nil, placeholder: 'Nombre', id: 'children-typeahead', class: 'form-control', autocomplete: 'off' %>
                    <span class="input-group-btn">
                      <%= submit_tag 'Asignar niño', class: 'btn btn-default btn-flat' %>
                    </span>
                    <script>
                      $(function () {
                        $.getJSON('/children/typeaheaddata', function (data) {
                          $('#children-typeahead').typeahead({
                            source: data,
                            scrollBar: true,
                            onSelect: function (item) {
                              $('#child_id').val(item.value);
                            }
                          });
                        });
                      });
                    </script>
                  </div>
                </fieldset>
              <% end %>
            </div>
          </div>
          <br>
          <div class='row'>
            <div class='col-xs-12'>
              <% @user.children_marked_as( :responsability ).each do |child| %>
                <%= link_to child.full_name, child %>
                <%= link_to '<i class="fa fa-times"></i>'.html_safe, unassign_child_user_path(child_id: child.id), class: 'btn btn-xs bg-maroon pull-right', method: :delete %>
                <hr>
              <% end %>
            </div>
          </div>
        </div>

        <div class='tab-pane' id='profile-activity'>
          <%= render 'main_webapp/timeline', notifications: @notifications %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if false %>
<div class='box box-solid'>
  <div class='box-header with-border'>
    <h3 class='box-title'>Acciones</h3>
  </div>
  <div class='box-body'>
    <div class='row'>
      <div class='col-lg-4'>
        <%= link_to '<i class="fa fa-mail-reply"></i> Regresar'.html_safe, tutors_users_path, class: 'btn btn-app' %>
        <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_tutor_user_path(@user), class: 'btn btn-app' %>
      </div>
      <div class='col-lg-8'>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-4'>
    <div class='box box-solid'>
      <div class='box-header with-border'>
        <h3 class='box-title'>Imagen</h3>
      </div>
      <div class='box-body object-image no-padding'>
        <%= image_tag @user.current_image(500), class: 'img-responsive' %>
      </div>
    </div>
  </div>
  <div class='col-md-8'>
    <div class='row'>
      <div class='col-sm-6'>
        <div class='box box-solid'>
          <div class='box-header with-border'>
            <h3 class='box-title'>Información</h3>
          </div>
          <div class='box-body'>
            <p class='lead'><%= @user.full_name %></p>
            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>
            <p>
              <strong>Género:</strong>
              <%= @user.gender_text %>
            </p>
            <p>
              <strong>Rol:</strong>
              <%= @user.role %>
            </p>
            <p>
              <strong>Notas:</strong>
              <div class='well'><%= @user.notes %></div>
            </p>
          </div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class='box box-solid'>
          <div class='box-header with-border'>
            <h3 class='box-title'>Niños asignados</h3>
          </div>
          <div class='box-body'>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
