<% content_for :title, 'Mi perfil - TIC' %>
<% content_for :page_title, 'Mi perfil' %>

<div class='user-profile-picture'>
  <center><%= image_tag @user.current_image(150), class: 'img-responsive img-circle' %></center>
  <h1 class='text-center'><%= current_user.full_name %></h1>
  <p class='text-center'><%= current_user.usertype.capitalize %></p>
</div>

<div class='box box-solid'>
  <div class='box-header with-border'>
    <h3 class='box-title'>Cambiar contraseña</h3>
  </div>
  <div class='box-body'>
    <%= form_for(@user, :url => { :action => "update_password" }, html: { class: 'form-horizontal', id: 'change-password-form' }) do |f| %>
     <div class="form-group">
        <%= f.label :current_password, class: 'control-label col-sm-3' %> <i>(necesitamos tu contraseña actual para confirmar cambios)</i>
        <div class='col-sm-3'>
          <%= f.password_field :current_password, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password", class: 'control-label col-sm-3' %>
        <div class='col-sm-3'>
          <%= f.password_field :password, :autocomplete => "off" , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: 'control-label col-sm-3' %>
        <div class='col-sm-3'>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class='col-sm-offset-3 col-sm-3'>
          <%= f.submit 'Confirm', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class='box box-solid'>
  <div class='box-header with-border'>
    <h3 class='box-title'>Cambiar mi perfil</h3>
  </div>
  <div class='box-body'>
    <%= form_for(@user, url: { action: 'update_profile' }, html: { class: 'form-horizontal' }) do |f| %>
      <% if @user.errors.any? %>
        <div class='alert alert-danger' id="error_explanation">
          <strong><%= pluralize(@user.errors.count, "error") %> prohibited this coordinator from being saved:</strong>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= hidden_field_tag 'user[usertype]', 'coordinator'  %>
      <div class="form-group">
        <%= f.label 'Nombre', class: 'control-label col-sm-2' %>
        <div class='col-sm-9'>
          <%= f.text_field :name, class: 'form-control form-control-ticnsp' %>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <%= f.label 'Apellido', class: 'control-label col-sm-2' %>
        <div class='col-sm-9'>
          <%= f.text_field :lastname, class: 'form-control form-control-ticnsp' %>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <%= f.label 'Género', class: 'control-label col-sm-2' %>
        <div class='col-sm-3'>
          <%= f.select :gender, options_for_select([['H','h'],['M','m']], @user.gender), {}, { class: 'form-control form-control-ticnsp' } %>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <%= f.label 'Fecha de nacimiento', class: 'control-label col-sm-2' %>
        <div class='col-sm-3'>
          <%= f.text_field :birthdate, class: 'form-control form-control-ticnsp datepicker' %>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <%= f.label :email, class: 'control-label col-sm-2' %>
        <div class='col-sm-9'>
          <%= f.email_field :email, class: 'form-control form-control-ticnsp', disabled: true %>
        </div>
      </div>
      <hr>
      <div class='form-group'>
        <%= label_tag 'user[image_source]', 'Usar imagen', class: 'col-sm-2 control-label' %>
        <div class='col-sm-3'>
          <%= select_tag 'user[image_source]', options_for_select([['Gravatar','gravatar'],['Imagen propia','image']], (@user.use_gravatar? ? 'gravatar' : 'image')), class: 'form-control', onchange: 'imageSelectionHide()' %>
        </div>
      </div>
      <div class="form-group" id='image-form-group'>
        <%= f.label 'Imagen', class: 'col-sm-2 control-label' %>
        <div class='col-sm-9'>
          <span class='file-input'>
            Browse<%= f.attachment_field :image, class: '' %>
          </span>
          <span class="filename"></span>
        </div>
      </div>
      <hr>
      <div class='form-group'>
        <%= f.label 'Teléfonos', class: 'control-label col-sm-2' %>
      </div>
      <%= f.fields_for :phones do |phones_form| %>

        <div class='form-group'>
          <label>
            <%= phones_form.check_box :_destroy %>
            Borrar
          </label>
          <%= phones_form.label :number, class: 'control-label col-sm-3' %>
          <div class='col-sm-3'>
            <%= phones_form.text_field :number, class: 'form-control' %>
          </div>
          <%= phones_form.label :phone_type, class: 'control-label col-sm-1' %>
          <div class='col-sm-3'>
            <%= phones_form.select :phone_type, options_for_select([['Casa','home'],['Móvil','mobile'],['Oficina','office'],['Otro','other']], phones_form.object.phone_type), {}, { class: 'form-control' } %>
          </div>
        </div>
        
      <% end %>
      <hr>
      <div class='form-group'>
        <%= f.label :notes, class: 'control-label col-sm-2' %>
        <div class='col-sm-9'>
          <%= f.text_area :notes, class: 'form-control form-control-ticnsp', style: 'height: 200px; resize: none;' %>
        </div>
      </div>
      <hr>

      <div class="form-group">
        <div class='col-sm-offset-2 col-sm-3'>
          <%= f.submit 'Guardar coordinador', class: 'btn btn-ticnsp btn-flat' %>
        </div>
      </div>
    <% end %>
    <script>
      $('.datepicker').datepicker({
          format: 'mm/dd/yyyy'
      })

      function imageSelectionHide() {
        if( (/^(gravatar)$/).test( $('#user_image_source').val() ) ) {
          $('#image-form-group').addClass('hide');
        } else {
          $('#image-form-group').removeClass('hide');
        }
      }

      $(function () {
        imageSelectionHide();
      });
    </script>

  </div>
</div>