<ul class='timeline timeline-inverse'>
  <% Notification.latest.each do |notif| %>
    <li>
      <i class='<%= "#{ notif.human_notifiable[:icon] } bg-#{ notif.human_notifiable[:color] }" %>'></i>
      <div class='timeline-item'>
        <span class='time'><%= human_date notif.created_at %></span>
        <h3 class='timeline-header'><%= "#{ notif.actor.full_name } #{ notif.action } #{ notif.human_notifiable[:text] }" %></h3>
        <div class='timeline-body'>
          <% if notif.notifiable.class == Notice %>
            <%= notif.notifiable.text_stripped %>
          <% else %>
            <%= link_to 'Mostrar', eval( "#{ recenti.recentable.class.to_s.downcase }_path( recenti.recentable )" ), class: 'btn btn-flat' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
