<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-folder-open-o"></i></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Home tab content -->
    <div data-behavior='activity-stream' class="tab-pane active" id="control-sidebar-home-tab">
      <h3 class='control-sidebar-heading'>Actividad reciente</h3>
      <ul class='control-sidebar-menu' data-behavior='activity-stream-items'>
        <% Notification.where( recipient: current_user ).latest.each do |notif| %>
          <li>
            <a href='<%= eval("#{notif.notifiable.class.to_s.pluralize.downcase}_path( anchor: dom_id( notif.notifiable ) )") %>'>
              <i class="menu-icon <%= "#{ notif.human_notifiable[:icon] } bg-#{ notif.human_notifiable[:color] }" %>"></i>
              <div class='menu-info'>
                <h4 class='control-sidebar-subheading'><%= notif.actor.full_name %></h4>
                <p><%= notif.action %> <%= notif.human_notifiable[:text] %></p>
                <p><%= human_date notif.created_at %></p>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div><!-- /.tab-pane -->

    <!-- Settings tab content -->
    <div class="tab-pane" id="control-sidebar-settings-tab">
      <h3 class="control-sidebar-heading">Sitios recientes</h3>
      <ul class='control-sidebar-menu'>
        <% RecentItem.latest.where( visitor: current_user ).each do |recenti| %>
          <li>
            <a href='<%= eval( "#{ recenti.recentable.class.to_s.downcase }_path( recenti.recentable )" ) %>'>
              <i class='menu-icon <%= "#{ recenti.human_recentable[:icon] } bg-#{ recenti.human_recentable[:color] }" %>'></i>
              <div class='menu-info'>
                <h4 class='control-sidebar-subheading'><%= recenti.human_recentable[:text] %></h4>
                <p><%= human_date recenti.created_at %></p>
              </div>
            </a>
        <% end %>
    </div><!-- /.tab-pane -->
  </div>
</aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class='control-sidebar-bg'></div>
