<header class='main-header'>
	<%
		# Logo
	%>
	<a href='<%= dashboard_path %>' class='logo'>
		<%
			# Mini logo for sidebar mini 50 x 50 pixels
		%>
		<span class='logo-mini'><%= image_tag 'tic_logo_nobg_flat.png', height: '40' %></span>
		<%
			# Logo for regular state and mobile devices 
		%>
		<span class='logo-lg'><%= image_tag 'tic_logo_nobg_flat.png', height: '40' %>ticnsp.org</span>
	</a>

	<%
		# Header Navbar
	%>
	<nav class='navbar navbar-static-top' role='navigation'>
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" onclick='toggleUserSidebar(<%= current_user.id %>)'>
	      	<span class="sr-only">Toggle navigation</span>
		</a>
		<%
			# Right menu
		%>
		<div class='navbar-custom-menu'>
			<ul class='nav navbar-nav'>
				<%
					# Mensajes
				%>

				<% render 'layouts/partials/messages' %>

				<%
					# Notifications
				%>
	            <%= render 'layouts/partials/notifications' %>

	            <%
	            	# Tasks menu
	            %>

	            <% render 'layouts/partials/tasks' %>

				<%
					# User account menu
				%>
				<li class='dropdown user user-menu'>
					<a href='#' class='dropdown-toggle' data-toggle='dropdown'>
						<%= image_tag current_user.current_image(40), class: 'user-image', alt: 'User Image' %>
						<span class='hidden-xs'><%= current_user.full_name %></span>
					</a>
					<ul class='dropdown-menu'>
						<%
							# User menu
						%>
						<li class='user-header'>
							<%= image_tag current_user.current_image(80), class: 'img-circle', alt:'User Image' %>
							<p>
								<%= current_user.full_name %>
								<small><%= user_type_display current_user.usertype %></small>
							</p>
						</li>
						<% if false %>
							<li class='user-body'>
								<div class="col-xs-4 text-center">
			            <a href="#">Followers</a>
			          </div>
			          <div class="col-xs-4 text-center">
			            <a href="#">Sales</a>
			          </div>
			          <div class="col-xs-4 text-center">
			            <a href="#">Friends</a>
			          </div>
							</li>
						<% end %>
						<li class='user-footer'>
							<div class="pull-left">
		            <%= link_to 'Perfil', profile_users_path, class: 'btn btn-default btn-flat' %>
		          </div>
		          <div class="pull-right">
		            <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
		          </div>
						</li>
					</ul>
				</li>
				<%
					# Control sidebar toggle
				%>
				<li>
		      <a href="#" data-toggle="control-sidebar"><i class="fa fa-send-o"></i></a>
		    </li>
			</ul>
		</div>
	</nav>
</header>
