<aside class="main-sidebar">
  <section class="sidebar">

    <%
      # Sidebar user panel (optional)
    %>
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_user.current_image(80), class: 'img-circle', alt: 'User Image' %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.full_name %></p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <%
      # search form (Optional)
    %>
    <% if false %>
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Buscar..."/>
          <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    <% end %>

    <%
      # Sidebar Menu
    %>
    <ul class="sidebar-menu">
      <li class="header">MENU</li>

      <li class='<%= params['action'] =~ /dashboard/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-dashboard'></i> <span>Dashboard</span>".html_safe, root_path %></li>

      <li class='<%= params['action'] =~ /evangelio/ ? 'active' : '' %>'><%= link_to "<i class='ion ion-ios-bookmarks'></i> <span>Evangelio</span>".html_safe, evangelio_path %></li>

      <li class='<%= params['controller'] =~ /notices/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-comment'></i> <span>Avisos</span>".html_safe, notices_path %></li>

      <% if current_user.usertype =~ /admin|coordinator$/ %>

        <li class='<%= params['controller'] =~ /visitor_messages/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-inbox'></i> <span>Mensajes</span>".html_safe, visitor_messages_path %></li>

        <% if false %>
        <li class='<%= params['controller'] =~ /tasks/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-tasks'></i> <span>Actividades</span>".html_safe, '#' %></li>

        <% end %>
        <li class='<%= params['controller'] =~ /events/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-calendar'></i> <span>Calendario</span>".html_safe, events_path %></li>

        <li class="header">ADMINISTRACIÓN DE CURSO</li>

            <li class='<%= params['controller'] =~ /child_semesters/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-child'></i> <span>Niños inscritos</span>".html_safe, child_semesters_path %></li>

            <li class='<%= params['controller'] =~ /coordinator_semesters/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-users'></i> <span>Coordinadores</span>".html_safe, coordinator_semesters_path %></li>

            <li class='<%= params['controller'] =~ /tutors/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-users'></i> <span>Tutores</span>".html_safe, tutors_users_path %></li>

            <li class='<%= params['controller'] =~ /group_offerings/ && params['action'] =~ /lectures/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-institution'></i> <span>Catequesis</span>".html_safe, lectures_group_offerings_path %></li>

            <li class='<%= params['controller'] =~ /group_offerings/ && params['action'] =~ /workshops/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-graduation-cap'></i> <span>Talleres</span>".html_safe, workshops_group_offerings_path %></li>

            <li class='<%= params['controller'] =~ /group_offerings/ && params['action'] =~ /shepperdings/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-flag'></i> <span>Acompañamientos</span>".html_safe, shepperdings_group_offerings_path %></li>

            <li class='<%= params['controller'] =~ /group_offerings/ && params['action'] =~ /commissions/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-flag'></i> <span>Comisiones</span>".html_safe, commissions_group_offerings_path %></li>

        <li class='header'>ADMINISTRACIÓN DE SISTEMA</li>

        <li class="treeview">
          <a href="#"><i class='fa fa-gears'></i> <span>Sistema</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class-'<%= params['controller'] =~ /semesters/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-calendar'></i> <span>Semestres</span>".html_safe, semesters_path %></li>

            <li class='<%= params['controller'] =~ /children/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-child'></i> <span>Niños</span>".html_safe, children_path %></li>

            <li class='<%= params['controller'] =~ /coordinators/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-users'></i> <span>Coordinadores</span>".html_safe, coordinators_users_path %></li>

            <li class='<%= params['controller'] =~ /tutors/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-users'></i> <span>Tutores</span>".html_safe, tutors_users_path %></li>

            <li class='<%= params['controller'] =~ /lectures/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-institution'></i> <span>Catequesis</span>".html_safe, lectures_path %></li>

            <li class='<%= params['controller'] =~ /workshops/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-graduation-cap'></i> <span>Talleres</span>".html_safe, workshops_path %></li>

            <li class='<%= params['controller'] =~ /shepperdings/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-flag'></i> <span>Acompañamientos</span>".html_safe, shepperdings_path %></li>

            <li class='<%= params['controller'] =~ /commissions/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-flag'></i> <span>Comisiones</span>".html_safe, commissions_path %></li>
          </ul>
        </li>

      <% elsif current_user.usertype =~ /tutor/ %>
        <li class='<%= params['action'] =~ /staff/ ? 'active' : '' %>'><%= link_to "<i class='fa fa-group'></i> <span>Coordinación</span>".html_safe, staff_path %></li>
      <% end %>
    </ul>
  </section>

</aside>
