<!DOCTYPE html>
<html>
	<head>
		<title><%= yield :title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%= stylesheet_link_tag 'application-all', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'application-webapp', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application' %>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,200,100' rel='stylesheet' type='text/css'>
		<%= csrf_meta_tags %>
	  	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
	</head>
	<body class="skin-blue sidebar-mini <%= current_user.settings[:sidebar_toggled?] ? "sidebar-collapse" : "" %>">
		<div class='wrapper'>
			<%= render 'layouts/partials/header' %>
			<%= render 'layouts/partials/main_sidebar' %>
			<div class='content-wrapper'>
				<section class='content-header'>
					<h1><%= yield :page_title %><small><%= yield :page_description %></small></h1>
					<ol class='breadcrumb'>
						<%= yield :page_breadcrumb %>
					</ol>
				</section>
				<section class='content'>
					<%= render 'layouts/partials/alerts' %>
					<%= yield %>
				</section>
			</div>
			<footer class='main-footer'>
				<div class='pull-right hidden-xs'>
					El plagio es pecado
				</div>
				<strong>Copyright &copy; <%= Date.today.year %> <a href="<%= root_path %>">TICNSP.org</a>,</strong> All rights reserved.
			</footer>
			<%= render 'layouts/partials/control_sidebar' %>
		</div>
	</body>
</html>
