<!DOCTYPE html>
<html>
	<head>
	  <title><%= yield :title %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,200,100' rel='stylesheet' type='text/css'>
	  <%= csrf_meta_tags %>
	</head>
	<body id='webapp-body'>

		<div id='wrapper' class='toggled'>
			<%
				# Sidebar
			%>
			<div id='sidebar-wrapper'>
				<%= render 'layouts/sidebar' %>
			</div>

			<%
				# Content
			%>
			<div id='page-content-wrapper'>
				<%= render 'layouts/navbar' %>
				<div class='container-fluid'>
					<div class='row page-header'>
						<div class='col-xs-12'>
							<h1><%= yield :page_title %></h1>
							<% unless @hide_breadcrumb %>
								<ol class='breadcrumb ticnsp-breadcrumb'>
									<%= yield :breadcrumb %>
								</ol>
							<% end %>
						</div>
					</div>
					<div class='row'>
						<div class='col-xs-12'>
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
